body{
    background-image: url("../img/leaves-pattern.png");
}

.imgBox:hover {
    position: relative;
    top: -20px;
}
.imgBox img{
    width: 100%;
}
div p{
    border-style: dashed;
    border-radius: 8px;
    border-width: 1px;
    padding: 2px;
    font-size: 15px;
}

.poz1{
    float: left;
}
.poz2{
    float: right;
}

.table td,th{
    text-align: center;
}
.card{
    border-radius: 20px;
}
.card button{
    border-radius: 10px;
}


